/* STYLING PAGE */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}

body {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
}


/* STYLING HEADER SECTION*/
#header {
    background-color: #fff;
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 90px;
    padding: 20px 0 40px 0;
}

.nav_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    max-width: 90%;
    margin: 0 auto;
}

.barter-logo {
    height: 35px;
    width: 155px;
}

.nav_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.nav_list {
    list-style-type: none;
}

.nav_list a {
    text-decoration: none;
    color: #4f4f4f;
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
}

.nav_list a.apply {
    background-color: #f5a623;
    color: #12122c;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    padding: 15px 43px;
}


/* STYLING MAIN SECTION */
.main {
    width: 100%;
    background-color: #fff;
    padding: 145px 30px 20px 30px;
    position: relative;
}

.main_container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.main_info .info_heading {
    font-size: 70px;
    font-weight: 900;
    line-height: 90px;
    letter-spacing: -.02em;
    margin-bottom: 25px;
    color: #1d222c;
}

.main_info .sub_heading {
    font-size: 26px;
    line-height: 40px;
    margin-bottom: 30px;
    color: #1d222c;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}

.main_info .info_cta {
    background-color: #f5a623;
    border-radius: 5px;
    color: #12122c;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    padding: 15px 43px;
    text-decoration: none;
}

/* STYLING FIRST SET OF PICTURES */
.ambassadors1 {
    width: 487px;
    display: flex;
    flex-direction: column;
    margin-top: 3px;
}

.first_img {
    margin-left: 196px;
}

.img1 {
    width: 164px;
    height: 170px; 
}

.image-bubble1 {
    display: flex;
    justify-content: space-between;
}

.square {
    width: 196px;
    height: 196px;
    background-color: #f2f2f2;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.dark-square {
    width: 90px;
    height: 90px;
    background-color: #12122c;
    border-radius: 4px;
}

.img2 {
    width: 100px;
    height: 97px;
}

.third_img {
    margin-left: 196px;
}

.img3 {
    width: 160px;
    height: 164px;
}

.fourth_img {
    align-self: flex-end;
}

.img4 {
    width: 60px;
    height: 60px;
}

.image-bubble2 {
    position: absolute;
    bottom: -15%;
    left: 14%;
    width: 585px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}

.img5 {
    width: 390px;
    height: 360px;
}

.yellow-box {
    align-self: flex-end;
    width: 120px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5a623;
    margin-bottom: 50px;
}


/* STYLING ABOUT SECTION */
.about {
    background-color: #167c80;
    padding: 233px 30px 142px 30px;
}

.about_container {
    position: relative;
    text-align: center;
    justify-content: center;
}

.about_heading {
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    font-weight: 900;
    margin-bottom: 25px;
}

.about_text {
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
}

.colored_text {
    color: #f5a623;
}


/* STYLING FAQ SECTION */
.faq_section {
    background-image: url(https://barter.me/image/barterbg.svg);
    background-repeat: no-repeat;
    padding-top: 250px;
    padding-bottom: 185px;
}

.faq-container {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
}

.faq1 h1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 25px;
    color: #1d222c;
    font-weight: 900;
}

.faq1 p {
    font-size: 16px;
    line-height: 27px;
    color: #333333;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px;
}

.faq2 {
    margin-top: 15px;
}

.faq2 p.unique {
    font-size: 18px;
    line-height: 26px;
    color: #1d222c;
    cursor: pointer;
    margin-bottom: 20px
}

.faq2 p.normal {
    font-size: 16px;
    line-height: 27px;
    color: #1d222c;
    font-family: 'Inter', sans-serif;
    margin-bottom: 20px
}

.faq-container ul li {
    position: relative;
    color: #4f4f4f;
    font-size: 16px;
    flex-basis: 100%;
    line-height: 26px;
    padding-left: 40px;
    margin-bottom: 20px;
    list-style-type: none;
}

.faq-container ul li:before {
    background-color: rgba(22,124,128,.14);
    background-image: url(https://barter.me/image/icons/check.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 15px;
    border-radius: 100%;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
}

.line {
    align-self: center;
    background-image: url( https://barter.me/image/line.png);
    background-position: 50%;
    background-repeat: no-repeat;
    width: 10px;
    height: 460px;
    margin-top: 50px;
    padding: 0 50px;
}




/* STYLING PROS SECTION */
.pros-box {
    background-image: url(https://barter.me/image/barterbgright.svg);
    background-repeat: no-repeat;
    background-position: 150%;
    padding-bottom: 280px;
    padding: 60px 0 312px 0;
}

.pros-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1140px;
    margin: 0 auto;
}

.pros h1 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 23px;
    color: #1d222c;
    font-weight: 900;
}

.pros p {
    color: #333;
    font-size: 26px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
}

.pros-container ul li {
    position: relative;
    color: #4f4f4f;
    font-size: 16px;
    flex-basis: 100%;
    line-height: 26px;
    padding-left: 40px;
    margin-bottom: 20px;
    list-style-type: none;
}

.pros-container ul li::before {
    background-color: rgba(22,124,128,.14);
    background-image: url(https://barter.me/image/icons/check.svg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 15px;
    border-radius: 100%;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
}

/* STYLING SECOND SET OF PICTURES */
.ambassadors2 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -13px;
}

.sixth_img {
    margin-left: 120px;
    margin-bottom: 13px;
}

.img6 {
    width: 180px;
    height: 180px;
} 

.image-bubble4 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 77px;
    margin-top: -16px;
}

.dark_circle {
    width: 120px;
    height: 120px;
    background-color: #f2f2f2;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7px
} 

.dark-bubble {
    width: 89px;
    height: 89px;
    background-color: #12122c;
    border-radius: 100%;
}

.img7 {
    width: 262px;
    height: 262px;
}

.eight_img {
    margin-top: -96px;
    margin-left: -131px;
}


.img8 {
    width: 200px;
    height: 200px;
} 

.image-bubble5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 88px;
    margin-top: -60px;
    margin-left: 88px;
} 

.img9 {
    width: 163px;
    height: 163px;
} 

.green-bubble {
    width: 80px;
    height: 80px;
    background-color: #167c80;
    border-radius: 100%;
    margin-top: 20px;
} 


/* STYLING APPLICATION SECTION */
.application-container {
    width: 100%;
    background-color: #f4e6bc;
    padding-top: 81px;
    padding-bottom: 100px;
    text-align: center;
}

.application-text1 {
    color: #000;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 20px;
    font-weight: 900;
}

.application-text2 {
    color: #333;
    font-size: 16px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 30px;
    font-family: 'Inter', sans-serif;
    margin-left: -40px;
}

.application a {
    background-color: #f5a623;
    border-radius: 4px;
    color: #12122c;
    display: inline-block;
    border: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
    padding: 15px 40px;
    text-decoration: none;
}


/* STYLING FOOTER SECTION */
.footer {
    background-color: #fff;
    padding-top: 70px;
    padding-bottom: 38px;
}

.footer_container {
    margin: 0 auto;
    max-width: 1140px;
}

.footer-logo {
    width: 110px;
    height: 23px;
    margin-top: 8px;
}

.footer_sections {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 14px;
}

.footer_section {
    min-width: 200px;
    margin-bottom: 50px;
}

.section_title {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 22px;
    padding-left: 3px;
}

.footer_nav {
    list-style-type: none;
}

.footer__nav__link {
    color: #4a4a4a;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    line-height: 28px;
    max-width: 170px;
    padding: 3px;
    transition: all .3s ease;
    word-break: break-word;
    font-weight: 400;
    margin-bottom: 6px;
}

.footer__nav__link:hover {
    color: #333;
    text-decoration: underline;   
}

.section_wrapper.wrapper1 {
    margin-bottom: 40px;
}

.footer_text {
    color: #4a4a4a;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.footer_meta {
    text-align: center;
    font-weight: 400;
    color: #4a4a4a;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}


/* Responsiveness */
