/* Styling Page */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f6f6;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 120px;
    margin-bottom: 120px;
}

/* Styling Top Section */
#top {
    text-align: center;
    margin-bottom: 33px;
}

#logo {
    width: 130px;    
    height: 28px;
    margin-bottom: 14px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #2b3a49;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}

/* Styling Form Section */
form{
    background-color: #fff;
    width: 425px;
    margin: 0 auto;
    padding: 46px 72px 50px 72px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(131, 137, 160, 0.2);
}

.form-control {
    width: 100%;
    margin-bottom: 18px;
}

label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 6px;
    color: rgba(84,98,120,.7);
    display: block;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}

input {
    font-family: 'Lato', sans-serif;
    background: transparent;
    border-bottom:1.6px solid #afafaf;
    border-color: rgba(124,136,157,.15);
    border-width: 0 0 1.6px 0;
    color: #1b1d1c;
    font-size: 15px;
    font-weight: 700;
    padding: 13.5px 0;
    outline: none;
    display: block;
    line-height: 1.5em;
    width: 100%;
}

input:focus {
    border-color: #f5a623;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

#error {
    color: #ff0000;
    font-weight: 400;
    font-size: 12px;
    font-family: inherit;
    text-align: left;
    row-gap: 0;
    margin-top: -10px;
    display: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}

.forgot {
    margin-top: -12px;
    margin-bottom: 8px;
}

.forgot a {
    color: #afafaf;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    transition: all .3s ease;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}

.forgot a:hover {
    color: #f5a623;
    text-decoration: underline;
}

form button {
    font-family: 'Lato', sans-serif;
    margin-top: 13px;
    width: 100%;
    background-color: #f5a623;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    outline: none;
    padding: 12px 0;
    border: none;
    box-shadow: 0 1px 2px 0 hsla(0, 0%, 84%, 0.22);
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 18px;
}

form button:hover {
    background-color: #c88009;
    transition-duration: 0.25s;
    transition-timing-function: ease-in;
}

.register {
    text-align: center;
    color: #7c889d;
    line-height: 1.5em;
    font-size: 14px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}

.register a {
    color: #f5a623;
    font-weight: 700;
    text-decoration: none;
    transition: all .3s ease;
}

.register a:hover {
    text-decoration: underline;
}


/* Responsiveness */
@media screen and (max-width:768px){
    /* Styling Page */
    body {
        padding: 0 15px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    /* Styling Top Section */
    h1 {
        font-size: 18px;
    }

    /* Styling Form Section */
    form{
        width: 425px;
        max-width: 100%;
        padding: 22px 24px 29px 24px;
    }
    
}
